.main-heading-card {
  color: #000;
  transition: color 0.3s ease-in-out;
  display: block;
  text-align: center;
  margin-top: 1rem;

  &:hover {
    color: $pinkColor;
  }
}

.main__headding {
  text-align: center;
  color: $pinkColor;
  padding-bottom: 0.5rem;
  position: relative;

  &::after {
    content: "";
    width: 50px;
    height: 2px;
    background-color: $pinkColor;
    position: absolute;
    top: 100%;
    right: 50%;
    transform: translateX(50%);
  }
}

.main__color {
  color: $pinkColor;
}

.waiting {
  font-size: 2.5rem;
  color: $pinkColor;
  text-align: center;
  font-weight: 500;
}

.whatsapp__btn {
  display: block;
  background-color: #109533;
  color: #fff;
  padding: 1rem 1.5rem;
  margin: 0 auto;
  width: fit-content;
  font-size: 1.5rem;
}

.contact__btn {
  display: block;
  background-color: #000;
  color: #fff;
  padding: 1rem 3rem;
  margin: 0 auto;
  width: fit-content;
  font-size: 1.5rem;
  transition: background-color 0.3s ease-in-out;

  &:hover {
    background-color: $pinkColor;
  }
}
